html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.main.container-fluid {
  padding-top: 80px;
  padding: 60px 15px 0;
  padding-bottom: 70px;
}
code {
  font-size: 80%;
}
